.a{
    /* margin-left: 200px; */
    margin-top: 200px;
}
#g{
    background-color: rgb(224, 232, 235);
    border-radius: 12px;
}
.h{
    background-color: white;
    color: black;
}
.c{ 
    display: flex;
    justify-content: space-between;
  
 } 
.n{
     margin-left: 10px; 
    /* border: 2px black solid; */
}
.s{
    /* border: 2px black solid; */
    width:230px;
    font-size: 15px;
    
}
@media screen and (max-width: 726px) {
    .a{
        margin-left: 50px;
    }
}

@media screen and (min-width: 727px) and (max-width: 1024px){
    .a{
        margin-left: 50px;
    }
}
